DSTACK_SIMULATOR_ENDPOINT=/tmp/tappd.sock

# a sample contract is deployed on Shibuya
SHIBUYA_RPC=wss://rpc.shibuya.astar.network
SHIBUYA_CLIENT_CONTRACT_ADDRESS=XWYaUSfjRNCoTngn2wEjF36dST2T6bdFwbhHpLDvi1umTfL
SHIBUYA_DAPP_STAKING_CONTRACT_ADDRESS=Xz3sHvmRgRY3mt3qQ3SjZ3aUPQTfHkj4rKeoQM6VJrenD3W
SHIBUYA_WORKER_PK=<the private key>
SHIBUYA_INDEXER_URL=https://query.substrate.fi/lucky-subquery-shiden

# a contract is deployed on Shiden
SHIDEN_RPC=wss://rpc.shiden.astar.network
SHIDEN_CLIENT_CONTRACT_ADDRESS=WZJGn1NdieAXft6UjEyoWosCByFacbJSwHv6qBgrGsJKTcE
SHIDEN_DAPP_STAKING_CONTRACT_ADDRESS=X6ykUS6L6CH4EoZitZsYJsCxH2AGk2ky9G6a2xeu1W9ffTP
SHIDEN_WORKER_PK=<the private key>
SHIDEN_INDEXER_URL=https://query.substrate.fi/lucky-subquery-shiden

# a contract is deployed on Astar
ASTAR_RPC=wss://rpc.astar.network
ASTAR_CLIENT_CONTRACT_ADDRESS=XyhoCsAY5vpsBVXFg7MHFmd1sYErrYpVHxKJ1ckyYHyxT2g
ASTAR_DAPP_STAKING_CONTRACT_ADDRESS=ZSV1GVepvmWFdshMWgczS4zYvmmwEsBjWQjN4WDpUEFRRPy
ASTAR_WORKER_PK=<the private key>
ASTAR_INDEXER_URL=https://query.substrate.fi/lucky-subquery-astar