DSTACK_SIMULATOR_ENDPOINT=/tmp/tappd.sock

# a sample contract is deployed on Shibuya
MANAGER_RPC=wss://rpc.shibuya.astar.network
MANAGER_ADDRESS=X2Y1yCarbxTQJEoqq7GdksRWSGpFtaryGU6HMgEs44JPL45

# a sample contract is deployed on Shibuya
REGISTRATION_1_ID=20
REGISTRATION_1_RPC=wss://rpc.shibuya.astar.network
REGISTRATION_1_ADDRESS=bM2UBWmGn8qddUbZ3F6Dpj7R54wtLjW1yfvyGEVg78TCYR7

# a sample contract is deployed on Minato
REGISTRATION_2_ID=21
REGISTRATION_2_RPC=https://rpc.minato.soneium.org
REGISTRATION_2_ADDRESS=0xf474BA5bB5009af1477A849880E8a684934f24f4

ATTESTOR_PK=<the attestor private key>

INDEXER_URL=https://query.substrate.fi/lotto-multichain-subquery-mainnet