DSTACK_SIMULATOR_ENDPOINT=/tmp/tappd.sock

# a sample contract is deployed on Shibuya
#RPC=wss://rpc.shibuya.astar.network
#RAFFLE_CONTRACT_ADDRESS=XWYaUSfjRNCoTngn2wEjF36dST2T6bdFwbhHpLDvi1umTfL
#DAPP_STAKING_CONTRACT_ADDRESS=Xz3sHvmRgRY3mt3qQ3SjZ3aUPQTfHkj4rKeoQM6VJrenD3W
#WORKER_PK=<the private key>
#INDEXER_URL=https://query.substrate.fi/lucky-subquery-shiden

# a sample contract is deployed on Shiden
RPC=wss://rpc.shiden.astar.network
RAFFLE_CONTRACT_ADDRESS=WZJGn1NdieAXft6UjEyoWosCByFacbJSwHv6qBgrGsJKTcE
DAPP_STAKING_CONTRACT_ADDRESS=X6ykUS6L6CH4EoZitZsYJsCxH2AGk2ky9G6a2xeu1W9ffTP
WORKER_PK=<the private key>
INDEXER_URL=https://query.substrate.fi/lucky-subquery-shiden